 <h1>Lista de Usuários</h1>
  <ul>
    {{#each users}}
     <div> 
        <li>{{first_name}} {{last_name}} {{email}}</li>
       
     </div>
    {{/each}}
  </ul>
  <button id="previous">Previous</button>
  <button id="next">Next</button>
  <script>
  
  </script>